
*
{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: lightgray;
}

nav{
    max-width: 100%;
    display: flex;
    max-height: 48.92px;
    /* overflow: hidden; */
    background-color: white;
}

/* logo etcs */
.company{
    display: flex;
    cursor: pointer;
}

.logo{
    height: 40px;
    width: 40px;
    position: relative;
    /* border: 1px solid; */
    overflow: hidden;
    border-radius: 100%;
}
.logo-img{
    width: 100%;
    scale: 1.4;
    position: absolute;
    top: 0;
    left: 0;
    filter: invert();
}
.company-name{
    display: grid;
    place-content: center;
}

ul.nav{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 1rem;
    background-color: white;
}
nav li{
    text-align: center;
    padding: .8rem;
    cursor: pointer;
}
nav li:hover{
    background-color: orange;
}
nav li.active{
    background-color: rgba(0, 0, 0, 0.784);
    color: white;
}

.link{
    color: green;
    
}

@media only screen and (max-width: 626px){
    nav{
        display: block;
        height: auto;
    }
    ul.nav{
        flex-direction: column;
        margin-left: 0px;
    }
    nav ul li{
        text-align: left;
    }
}

@media only screen and (min-width: 724px){
    ul.nav{
        margin-left: 7rem;
    }
}

.abc
{
    height:500px;
    background-color:gray;
    color:white;
    font-size:50px;
}
