*
{
    margin:0 auto;
    padding:0;
}

.login
{
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    align-items: center;
}
.login div
{
    padding: 50px;
    background-color: white;
    box-shadow: 2px 5px 12px black;
}
.login input
{
    padding:10px;
}
ul
{
    list-style-type: none;
}
ul li{
    padding:10px;
}
.login button
{
    padding:10px;

}
.mynav
{
    display: flex;
    background-color:rgb(232, 232, 232);
    line-height: 50px;
    border-bottom: 1px solid black;
    
}

.heading
{
    font-size:50px;
    animation:myani 1s infinite linear alternate;
}
@keyframes myani
{
    from{}
    to{transform:translate(500px,0px)}
}